/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;


}

/*-------------Banner----------*/
#banner {
    text-align: center;
    background: radial-gradient(#eee, #FAED26);
}

div.showme {
    display: block;
}

div.hideme {
    display: none;
}

#banner h2 {
    margin: 0em;
    padding-top: 1em;
    color: #5a5560;
    font-family: 'Bebas Neue', cursive;

}

#banner p {
    margin: 0em;
    padding: 1em;
    color: #5A5560;
    font-family: 'Dosis', sans-serif;
}

/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #5A5560;
}

header img {
    float: left;
    margin-right: 10px;
    width: 50px;
}

header h1 {
    margin: 0;
    font-size: 1.3rem;
    color: #FAED26;
    font-family: 'Shadows Into Light', cursive;

}

header h2 {
    margin: 0;
    font-weight: normal;
    font-size: 1rem;
    color: white;
    font-family: 'Bebas Neue', cursive;

}

/*----------- NAVIGATION --------------*/

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}

nav {
    background-color: #FAED26;
    font-family: 'Dosis', sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #46344e;
    padding: .8rem 2%;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li a:hover {
    background-color: #5a5560;
    color: white;
}

nav ul li.active a {
    background-color: #9b786F;
    color: white;
}

nav ul.hide {
    display: none;
}




/*----------- MAIN --------------*/
.picturegrid {
    display: grid;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}
.caption {
    font-size: .7rem;
    text-align: center;
    background-color:#5a5560 ;
    padding: 8px;
    color: #FAED26;
}
.galleryimg {
    text-align: center;
    vertical-align: top;
}


main {
    padding: 0 2%;
    min-height: 10rem;
}

img {
    max-width: 100%;
}

.herodiv {
    margin: 10px auto;
    position: relative;
}

.herodiv h1,
.herodiv h2,
.herodiv p {
    margin: 0em;
}
main div figure .prestonmainimg {
    width: 50%;
    margin: 0 0 0 2%;
}
main div figure .prestonmainimg img {
    width: 100%;
}
main div figure .prestonmainimg figcaption {
    text-align: center;
    font-size: .75rem;
}
.weathersummary {
    position: absolute;
    top: 25px;
    left: 40px;
    background: radial-gradient(#eee, #FAED26);
    border: 1px solid #5a5560;
    padding: 1.5rem;
    box-shadow: 0 0 30px #111;
    opacity: .8;
}

.fivedayforecast {
    display: none;
}

.article {
    border: 1px solid #5a5560;
    background-color: #FAED26;
    background: radial-gradient(#eee, #FAED26);
}

.article img {
    padding: 0 1rem 0 1rem;
}

.article h2,
.article p {
    padding: 0 1rem 0 1rem;
}

main h1 {
    color: #FAED26;
    font-family: 'Shadows Into Light', cursive;
}

main h2 {
    color: #5a5560;
    font-family: 'Bebas Neue', cursive;
}

main h3 {
    color: #9b786F;
    font-family: 'Dosis', sans-serif;

}

.box {
    background-color: #5a5560;
    padding: 5px;
    border-radius: 10px;

}

.navsample {
    font-size: .9rem;
    font-family: 'Dosis', sans-serif;
    color: #46344e;
    background-color: #FAED26;
    padding: 4px;
}

.headerh1sample {
    color: #FAED26;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20.8px;
    background-color: #5a5560;
    padding: 4px;
}

.headerh2sample {
    color: white;
    font-family: 'Bebas Neue', cursive;
    background-color: #5a5560;
    font-size: 16px;
    padding: 4px;
}

.footertoplinesample {
    background-color: #5A5560;
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    color: white;
    padding: 4px;
}

.footerbottomlinesample {
    background-color: #5A5560;
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    color: #FAED26;
    padding: 4px;
}

main p {
    color: #5A5560;
    font-family: 'Dosis', sans-serif;

}

.prestonmap {
    max-width: 100%;
    display: none;
    margin: 1em;
}

.contactus p {
    margin: 0em 1em 0em 0em;
}

.contactus h3 {
    margin: 1em 1em .5em 0;
}

.contactus {
    display: flex;
    margin: 0em;
    font-size: 15px;
}

.address {
    width: 50%;
}

/*----------- FOOTER --------------*/
footer {
    margin: 10px auto;
    text-align: center;
    padding: 13px;
    background-color: #5A5560;
    font-family: 'Dosis', sans-serif;

}

.topline {
    font-size: 15px;
    color: white;
}

.toplinelink {
    color: #FAED26;
}

.bottomline {
    font-size: 14px;
    color: #FAED26;
}




/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}