/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    main{
        max-width: 50rem;
        margin: auto;
    }
    

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
    .headerlogo {
        max-width: 50rem;
        margin: auto;
        padding: 0 2%;
    }


/*----------- NAVIGATION --------------*/
    #primaryNav {
        max-width: 50rem;
        margin: auto;
        padding: 0 2%;
    }

/*----------- MAIN --------------*/
.weathersummary {
    font-size: 20px;
}



/*----------- FOOTER --------------*/
    
} /* end of media query */