
.cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
    justify-content: center;
    align-content: center;
    grid-column-gap: 5px;
    box-shadow: 0 0 30px #111;
    margin: 30px;
    padding: 10px;
}
section {
    text-align: center;
    background-color: #9CAFB7;
    padding-bottom: 10px;
    
}
h1 {
    text-align: center;
    font-family: 'Spartan';
    color: #4281A4;
    font-weight: bold;
}
h2 {
    margin-bottom: 7px;
    font-family: 'Spartan';
    color: #331832;
}
img {
    width: 35%;
    margin-top: 7px;
    box-shadow: 0 0 10px #111;
}
p {
    margin: 3px;
    font-family: 'Open Sans Condensed';
    color: #65655E;
}
footer {
    text-align: center;
    font-family: 'Spartan';
    margin: 15px;
}
